body{
    margin: 0;
    padding: 0;
    background: url(../img/bg-corona.jpeg) no-repeat center center fixed;
    background-size: cover;
}

.hero-figure{
    padding: 1rem;
}

.card{
    color: aliceblue;
}

.confirmed{
    background: rgba(236, 47, 47, 0.308);
box-shadow: 0 8px 32px 0 rgba(31, 33, 135, 0.37);
backdrop-filter: blur( 6.5px );
-webkit-backdrop-filter: blur( 6.5px );
border-radius: 10px;
border: 1px solid rgba(230, 15, 15, 0.596);
}

.active{
    background: rgba( 27, 21, 240, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 3.0px );
-webkit-backdrop-filter: blur( 3.0px );
border-radius: 10px;
border: 1px solid rgba(22, 19, 206, 0.534);
}

.recovered{
    background: rgba( 21, 240, 64, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 3.0px );
-webkit-backdrop-filter: blur( 3.0px );
border-radius: 10px;
border: 1px solid rgba(21, 218, 21, 0.63);
}

.death{
    background: rgba( 75, 77, 75, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 3.0px );
-webkit-backdrop-filter: blur( 3.0px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}